@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust based on Navbar height */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@utility delay-100 {
  animation-delay: 0.1s;
}

@utility delay-200 {
  animation-delay: 0.2s;
}

@utility delay-300 {
  animation-delay: 0.3s;
}
